<colgroup>
  {{#col}}
    <col {{#className}}class="{{className}}"{{/className}}/>
  {{/col}}
</colgroup>
<thead>
  <tr>
    {{#col}}
      <th {{#className}}class="{{className}}"{{/className}} data-field="{{field}}">
        {{name}}
        <i class="js-sort-sprite"></i>
      </th>
    {{/col}}
  </tr>
</thead>
<tbody></tbody>
